In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
import configparser

In [19]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [20]:
KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')

DWH_DB = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

In [21]:
DWH_ENDPOINT = config.get("CLUSTER","HOST")
DWH_ROLE_ARN = config.get("IAM_ROLE","ARN")

### Redshift Cluster Connection

In [22]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:redshiftPasswordD90!@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project

'Connected: awsuser@redshift-cluster-project'

### Queries to check the number of rows in each table

In [23]:
%sql select count(*) as num_rows_artist_table FROM artist

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(10025,)]

In [24]:
%sql select count(*) as num_rows_songplay_table FROM songplay

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(333,)]

In [25]:
%sql select count(*) as num_rows_staging_events_table FROM staging_events

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(8056,)]

In [26]:
%sql select count(*) as num_rows_staging_songs_table FROM staging_songs

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(14896,)]

In [27]:
%sql select count(*) as num_rows_songs_table FROM song

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(14896,)]

### Queries to get some stats from the data

- Number of different (distinct) songs listened by the user with *user_id = 15* between 20/11/2018 & 26/11/2018 included

In [32]:
%%sql
SELECT COUNT (DISTINCT song_id) FROM songplay
WHERE user_id = 15 AND
start_time  between '2018/11/20' and '2018/11/27'

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(7,)]

-  % of (distinct) songs whose name begins with "A"

In [39]:
%%sql
select ROUND((count(*) * 100.0 / (select count(*) from song)),2) as "% of titles starting with A"
from song
WHERE title LIKE 'A%'

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[(Decimal('5.39'),)]

- Average duration of songs from artist name = 'Andrea Bocelli'

In [56]:
%%sql
select artist.name, AVG(song.duration) as avg_song_duration
from song
JOIN artist on(song.artist_id = artist.artist_id)
WHERE artist.name = 'Andrea Bocelli'
GROUP BY (artist.artist_id, artist.name)

 * postgresql://awsuser:***@dwhcluster.cmbss4e2jx12.us-west-2.redshift.amazonaws.com:5439/redshift-cluster-project
1 rows affected.

[('Andrea Bocelli', Decimal('243'))]